@font-face {
  font-family: 'MyFont';
  src: url('Myfont-Regular (1).ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'MyFont', sans-serif;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 20px;
  margin-bottom: 50px; /* altura para levantar um pouco */
}

.botao {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: 2px solid white;
  box-shadow: 0 0 0 1px black; /* pequena borda preta fora da branca */
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s;
}

.botao:hover {
  transform: scale(1.05);
}
